<div class="aboutInnerTile">

  <div>
      <img id="dispPic" class="img-fluid rounded-circle border border-white" src="/media/selfie.jpg" alt="disp_pic">
  </div>

  <div class="text-center p-1">
   
    <div class="px-2 dark-teal-text">

      <h3 class="my-3"> 
        welcome
      </h3>

      <p id='aboutMeText' class=""> 
        I build node.js based web apps, train machine learning algorithms and am an aspiring data journalist - explore below for my work examples
      </p>

      <p> 
        my hobbies are photography, travel and making abstract art 
      </p>

      <hr class="w-50">      

      <div class="d-flex flex-row align-items-center justify-content-center my-3">


        <div class="" data-toggle="tooltip" data-placement="top" title="< codepen showcase >">
    
          <a href="https://codepen.io/numoonchld/#" target="_blank" class="icon m-3">
    
            <i class="fab fa-codepen fa-3x"></i>
            
          </a>
    
        </div>
  
    
        <div class="" data-toggle="tooltip" data-placement="top" title="< fCC certifications >">
    
          <a href="https://www.freecodecamp.org/portfolio/numoonchld/" target="_blank" class="icon m-3">
    
            <i class="fab fa-free-code-camp fa-3x"></i>
    
          </a>
    
        </div>
    
        <div class="" data-toggle="tooltip" data-placement="top" title="< hobbies >">
    
          <a href="https://unsplash.com/@numoonchld" target="_blank" class="icon m-3">
    
            <i class="fas fa-camera fa-3x"></i>
            <!-- <i class="fas fa-hiking"></i> -->
    
          </a>
    
        </div>
          
          
      </div>

    </div>


  </div>

  

  
 
  

</div>