<div class="aboutInnerTile">

  <div class="my-3">
    <img id="dispPic" class="img-fluid" src="/media/selfie.jpg" alt="disp_pic">
  </div>

  <div class="text-center p-1">

    <div class="px-2 dark-teal-text">

      <!-- <h2 class="my-3">
        welcome
      </h2> -->

      <h2 class="my-3">
        welcome
      </h2>

      <p id='aboutMeText' class="">
        I create
      </p>

      <!-- <p>
        my hobbies are photography, travel and making abstract art
      </p> -->

      <hr class="w-50">

      <div class="d-flex flex-row align-items-center justify-content-center my-3">

   <!-- <div class="" data-toggle="tooltip" data-placement="top" title="< fCC certifications >">

          <a href="https://www.freecodecamp.org/portfolio/numoonchld/" target="_blank" class="icon m-3">

            <i class="fab fa-free-code-camp fa-3x"></i>

          </a>

        </div>

        <div class="" data-toggle="tooltip" data-placement="top" title="< web-cv >">

          <a href="/cv" class="icon m-3">

            <i class="fas fa-file fa-3x"></i>

          </a>

        </div>

        <div class="" data-toggle="tooltip" data-placement="top" title="< codepen showcase >">

          <a href="https://codepen.io/numoonchld/#" target="_blank" class="icon m-3">

            <i class="fab fa-codepen fa-3x"></i>

          </a>

        </div> -->

      

      <div class="" data-toggle="tooltip" data-placement="top" title="< my digital art >">

        <a href="https://numoonchld.artstation.com" target="_blank" class="icon m-3">
    
          <i class="fab fa-artstation fa-3x"></i>
    
        </a>
    
      </div>
    
<!--       <div class="" data-toggle="tooltip" data-placement="top" title="< my insta posts >">
    
        <a href="https://www.instagram.com/rasaralaya/" target="_blank" class="icon m-3">
    
          <i class="fab fa-instagram fa-3x"></i>
    
        </a>
    
      </div> -->
    
      <div class="" data-toggle="tooltip" data-placement="top" title="< music i make >">
    
        <a href="https://open.spotify.com/artist/3pmjwXacGPNkhiROvf9K9V?si=ZrKMTgIuQsK671v3B_zvjQ" target="_blank" class="icon m-3">
    
          <i class="fab fa-spotify fa-3x"></i>
    
        </a>
    
      </div>
    
      <div class="" data-toggle="tooltip" data-placement="top" title="< my photography work >">
    
        <a href="https://unsplash.com/@numoonchld" target="_blank" class="icon m-3">
    
          <i class="fas fa-camera  fa-3x"></i>
    
        </a>
    
      </div>
        
        </div> 

    </div>

  </div>

</div>
