

<div class="d-flex flex-row align-items-center justify-content-center">


    <!-- <div class="" data-toggle="tooltip" data-placement="top" title="< see my tweets >">

      <a href="https://twitter.com/rasaralaya" target="_blank" class="icon m-1">

        <i class="fab fa-twitter"></i>
        
      </a>

    </div> -->

    <div class="" data-toggle="tooltip" data-placement="top" title="< my digital art >">

      <a href="https://numoonchld.artstation.com" target="_blank" class="icon m-1">

        <i class="fab fa-artstation"></i>
        
      </a>

    </div>

    <div class="" data-toggle="tooltip" data-placement="top" title="< insta posts >">

        <a href="https://www.instagram.com/rasaralaya/" target="_blank" class="icon m-1">
  
          <i class="fab fa-instagram"></i>
          
        </a>
  
    </div>

    <div class="" data-toggle="tooltip" data-placement="top" title="< audio projects >">

        <a href="https://numoonchld.bandcamp.com/" target="_blank" class="icon m-1">
  
          <i class="fab fa-bandcamp"></i>
          
        </a>
  
    </div>


</div>

<hr class="w-50">

<p class="text-center text-dark"> 
  numoonchld &#169; 2019 | All Rights Reserved | Raghavendra Saralaya 
</p>

