<div class="container innerTile">

  <h3 class="tileLabel" style="color: #E48043; "> portfolio </h3>
  <figcaption id="imgCaption" class="py-1 dark-teal-text"> Calculator (JS App) </figcaption>

  <!-- <i id="folioLoad" class="fas fa-circle-notch fa-spin fa-4x"></i> -->

  <div id="folioDiv" style="display:none" class="d-flex flex-row p-0 input-group btn-group flex-nowrap justify-content-center align-items-center">

    <button id="leftScroll" class="btn teal lighten-2 rounded-right-0 align-self-stretch">
      <i class="fas fa-caret-left fa-2x"></i>
    </button>

    <a id="folioLink" href="#" target="_blank">

      <div id="folioBlock" class="">

        <img id="folioDisp" class="img-fluid" src="" alt="">        

        <div id="folioOverlay" class="p-2 rounded ">  </div>

      </div>

    </a>

    <button id="rightScroll" class="btn teal lighten-2 rounded-left-0 align-self-stretch">
      <i class="fas fa-caret-right fa-2x"></i>
    </button>

  </div>

  
  

</div>