<div class="projectInnerTile">

    <h3 class="" style="color: #E48043; "> projects </h3>

    <div id="project-holder" class="container rounded mx-auto my-3 p-3">

        <div id="d3js-data-vis" class="card-group">

            <div class="card project-card">

                <div class="view">
                    <img src="/media/projects/d3js_treemap.jpg" class="card-img-top" alt="photo">
                    <a href="https://codepen.io/numoonchld/pen/OBoGWw" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Tree Map</h5>
                    <p class="card-text"> Data visualization for a 'Top 100 Video Game Sales by Platform' dataset </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">#d3js #bootstrap</small>
                </div>
            </div>

            <div class="card project-card">

                <div class="view">
                    <img src="/media/projects/d3js_heatmap.jpg" class="card-img-top" alt="photo">
                    <a href="https://codepen.io/numoonchld/pen/OoYWNX" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Heat Map</h5>
                    <p class="card-text"> Visualisation of global monthly average temperature data (1753 - 2013)</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">#d3js #bootstrap</small>
                </div>
            </div>

            <div class="card project-card">

                <div class="view">
                    <img src="/media/projects/d3js_choropleth.jpg" class="card-img-top" alt="photo">
                    <a href="https://codepen.io/numoonchld/pen/YJGWoP" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Choropleth</h5>
                    <p class="card-text"> Density map of bachelor degree attainment (2010 - 2014, by
                        counties) </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">#d3js #bootstrap</small>
                </div>

            </div>




        </div>

        <hr>

        <div id="express-apps-one" class="card-group">

            <div class="card project-card">

                <div class="view">
                    <img src="/media/projects/app_messageBoard.jpg" class="card-img-top" alt="photo">
                    <a href="https://fcc-anonymous-message-board-nmc.glitch.me/b/messageBoard/" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Message Board</h5>
                    <p class="card-text"> Anonymously create new threads and reply to existing ones! (password
                        protected threads and replies) </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"> #nodejs #expressjs #mongoDB #mlab</small>
                </div>

            </div>

            <div class="card project-card">

                <div class="view">
                    <img src="/media/projects/api_stockprice.jpg" class="card-img-top" alt="photo">
                    <a href="https://fcc-stock-price-checker-nmc.glitch.me/" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Stock Price Checker</h5>
                    <p class="card-text"> NASDAQ stock price (based on <a href="https://iextrading.com/"> IEX's </a>
                        data) query and favourites tracking tool </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"> #nodejs #expressjs #mongoDB #mlab</small>
                </div>

            </div>

            <div class="card project-card">

                <div class="view">
                    <img src="/media/projects/api_filemetadata.jpg" class="card-img-top" alt="photo">
                    <a href="https://fcc-file-metadata-microservice-nmc.glitch.me/" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Extract File Metadata</h5>
                    <p class="card-text"> Express app using the 'multer' npm package to extract metadata from a file
                        uploaded by a user </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"> #nodejs #expressjs #glitchapp </small>
                </div>

            </div>

        </div>

        <hr>

        <div id="express-apps-two" class="card-group">

            <div class="card project-card">

                <div class="view">
                    <img src="/media/projects/app_booklibrary.jpg" class="card-img-top" alt="photo">
                    <a href="https://fcc-personal-library-nmc.glitch.me/" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Book Library CRUD API</h5>
                    <p class="card-text"> Node app API end points to manage a book library </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"> #nodejs #expressjs #mongoDB #mlab</small>
                </div>

            </div>

            <div class="card project-card">

                <div class="view">
                    <img src="/media/projects/api_shorturl.jpg" class="card-img-top" alt="photo">
                    <a href="https://fcc-url-shortner-microservice-nmc.glitch.me/" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Short URL</h5>
                    <p class="card-text"> API returns an app-url based shortcut for input URL </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"> #nodejs #mongoDB #glitchapp #mlab</small>
                </div>

            </div>

        </div>

        <hr>

        <div id="api-microservices" class="card-group">

            <div class="card project-card">

                <div class="view">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Expressjs.png" class="card-img-top"
                        alt="photo">
                    <a href="https://github.com/numoonchld/fcc-headerParser-microService/blob/master/README.md" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Client Header Parser</h5>
                    <p class="card-text"> Extracting IP address, OS and browser info from Client Device </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"> #nodejs #expressjs #glitchapp</small>
                </div>

            </div>

            <div class="card project-card">

                <div class="view">
                    <img src="/media/projects/api_unitsconvertor.jpg" class="card-img-top" alt="photo">
                    <a href="https://fcc-metric-us-convertor-nmc.glitch.me/" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Unit Convertor</h5>
                    <p class="card-text"> Converts between commonly used SI and US units </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"> #nodejs #glitchapp</small>
                </div>

            </div>

            <div class="card project-card">

                <div class="view">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Expressjs.png" class="card-img-top"
                        alt="photo">
                    <a href="https://github.com/numoonchld/fcc-timeStamp-microService/blob/master/README.md" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Timestamp API</h5>
                    <p class="card-text"> API for current UTC, converting between ISO-8601 and UNIX Epoch </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"> #nodejs #expressjs #glitchapp</small>
                </div>

            </div>





        </div>

        <hr>

        <div class="card card-group">

            <div class="view">
                <img src="/media/projects/webgl_galaxyshooter.jpg" class="card-img-top" alt="photo">
                <a href="/media/galaxy-shooter" target="_blank">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <div class="card-body">
                <h5 class="card-title">Galaxy-Shooter</h5>
                <p class="card-text"> WebGL based Galaxy Shooter built with Unity3D </p>
            </div>
            <div class="card-footer">
                <small class="text-muted"> #unity3D #webGL #C-Sharp</small>
            </div>

        </div>

    </div>




</div>