<!-- include for <nav> element -->
<nav id="linkbar" class="navbar fixed-top navbar-expand-md navbar-dark teal lighten-2">
    <!-- <nav id="linkbar" class="navbar fixed-top navbar-expand-md navbar-dark default-color-dark"> -->

  <!-- Navbar Brand Name -->
  <a class="navbar-brand" href="/#about">
   <img id="brandImg" class="rounded-circle border" src="/media/spectrumSupport.png" width="33px" height="33px" alt="about">
 </a>

  <!-- Toggle Button for Collapsed state -->
  <button class="navbar-toggler rounded border" type="button" data-toggle="collapse" data-target="#collapseNavbar" aria-controls="collapseNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible Navbar Div -->
  <div id="collapseNavbar" class="collapse navbar-collapse text-right">

    <!-- Navbar Links -->
    <ul class="nav navbar-nav">

      <li class="nav-item">
        <a class="nav-link text-white" href="/#portfolio"> projects </a>
      </li>

      <li class="nav-item">
          <a class="nav-link text-white" href="/cv"> cv </a>
        </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="/blog"> blog </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="/#contact"> contact </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="https://numoonchld.github.io/2020/11/22/notes-links.html"> notes </a>
      </li>

    </ul>

  </div>

</nav>
