---
layout: blog
---

<div class="blogDiv">

  <h3 class="text-center" style="color: #BD5C3D;"> {{ page.title }} </h3>

  {% if page.updated %}
  <h6 class="text-center" style="color: #BD5C3D;"> last updated: {{ page.updated | date_to_string }} </h6>
  {% endif %}

  <!-- Pull in unity page -->
  {% if page.unity-dir %}
  {% include page_unity.html %}
  {% endif %}
  <!-- refer to: https://bit.ly/2rexRJj -->

  <div id="blogText" class="card"> 
    {{ content }} 
  </div>

  <div>
    <h6 class="text-center red-text"> created: {{ page.date | date_to_string }} </h6>
    {% if page.artist %}
    <h6 class="text-center red-text"> today's track: <a href="{{page.trackLink}}" target="_blank"> {{page.track}} </a>
      by <a href="{{page.artistLink}}" target="_blank"> {{page.artist}} </a> </h6>
    {% endif %}
  </div>


</div>